header {
  h1 {
    display: inline-block;
    font-size: 14px;

  }

    .header-icon {
        list-style: none;
        padding: 0;

    }
    li    {
      display: inline-block;

    }
}

@media (min-width:880px) {
header {
  padding: 2rem;
&::after {
  content: '';
  display: block;
  clear: both;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

  h4 {
    float: left;
  }

h1 {
  float: left;

}

  .header-icon {
    float: right;

    }
  }



}
